# Entorno virtual
.venv/
venv/

# Archivos temporales de sistema
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración local
.env
*.env

# Archivos de caché de joblib, modelos y backups
*.joblib
*.backup
*.bak
*.checkpoint
*.pth

# Datos sensibles o generados


# Resultados de entrenamiento y logs


# Salidas de pruebas o simulaciones


# Archivos de Jupyter o notebooks (si los usás)
*.ipynb
.ipynb_checkpoints/

# Docker / VSCode (opcional)
.vscode/
*.dockerfile
docker-compose.override.yml
