# Entorno virtual
.venv/
venv/

# Archivos temporales de sistema

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración local
.env
*.env

# Archivos de caché de joblib, modelos y backups


# Datos sensibles o generados


# Resultados de entrenamiento y logs


# Salidas de pruebas o simulaciones


# Archivos de Jupyter o notebooks (si los usás)

# Docker / VSCode (opcional)
.vscode/
*.dockerfile
docker-compose.override.yml
